
@{
    ViewBag.Title = "Success2";
}

<h2>Success2</h2>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Successfully Your request Has been Done</h1>

    </hgroup>
    @Html.ActionLink("Back to Desk", "Index", "Tourist");
</body>
</html>


