
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Successfully Signed Up</h1>
        
    </hgroup>
   @Html.ActionLink("Back to Home", "Index")
</body>
</html>


