
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<table>
    <tr><td><a href="/Home/SignUpGuide"> Guide Sign Up</a></td></tr>
    <tr> <td><a href="/Home/SignUpTourist"> Tourist Sign Up</a></td></tr>
    <tr><td> <a href="/Home/Login"> Login</a> </td></tr>
    <tr><td><a href="/Home/AdminLogin">Admin Panel</a></td></tr>
</table>
